<!doctype html>
<html>
<head>
    <title>Jasmine Spec Runner</title>

    <% css.forEach(function(style){ %>
    <link rel="stylesheet" type="text/css" href="<%= style %>">
    <% }) %>

    <% scripts.forEach(function(script){
       if (script.indexOf('jasmine-helper.js') === -1) { %>
    <script type="text/javascript" src="<%= script %>"></script>
    <% } }) %>

    <script type="text/javascript">
    require.config(<%=JSON.stringify(requireConfig) %>);
    require(['domReady!',
    <% specs.forEach(function(script, i){ %>
        '<%= script %>' <% if (i !== specs.length-1){ %>,<% } %>
    <% }) %>
    ], function () {
        var jasmineEnv = jasmine.getEnv();
        jasmineEnv.addReporter(new jasmine.HtmlReporter());
        jasmineEnv.execute();
    });
    </script>
</head>

<body>
</body>
</html>